:host {
  background-color: #fff;
  border: 1px solid #aaa;
  box-sizing: border-box;
  cursor: text;
  display: inline-block;
  font-size: 14px;
  margin: 2px;
  width: 200px;
  position: relative;
}

polyfill-next-selector { content: ':host > .selected'; }
.selected {
  background-color: #ededed;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  cursor: default;
  float: left;
  margin: 5px 0 5px 5px;
  padding: 2px 3px;
}

.unselect {
  color: #000;
  cursor: pointer;
  font-family: Arial;
  font-size: 1.1em;
  font-weight: bold;
  opacity: .2;
  text-shadow: 0 1px 0 #fff;
}

input {
  border: 0;
  float: left;
  font-family: inherit;
  font-size: 100%;
  margin: 5px 0 5px 5px;
  outline: none;
  padding: 3px 0;
}

cw-options-list {
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 0;
  position: absolute;
  top: calc(100% + 1px);
  left: -1px;
  width: 100%;
}

cw-options-list[hidden] {
  display: none !important;
}
