<!doctype html>
<html>
<head>

  <title>cw-token-field Demo</title>

  <script src="../platform/platform.js"></script>
  <link rel="import" href="cw-token-field.html">

</head>
<body unresolved>

  <p>A `cw-token-field` looks like this:</p>

  <cw-token-field placeholder="Choose a color...">
    <option value="red">Red</option>
    <option value="green">Green</option>
    <option value="blue">Blue</option>
    <option value="bluegreen">Blue Green</option>
    <option value="bluegreen">A Really, Really Long Color Name</option>
  </cw-token-field>

</body>
</html>
